@font-face {
  font-family: 'GE SS Two';
  src: local('GE SS Two Medium'),
       url('/fonts/GE SS Two Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

.font-ge-ss {
  font-family: 'GE SS Two', system-ui, sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 